# Byte-compiled / optimized / DLL files
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints

AECCAR0
AECCAR2

*.npy
!layer_0.npy
!edist_atom_192_192_192.npy
!edist_atom_192_384_192.npy
!edist_atom_576_576_576.npy